<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Deteccion de Incendios Forestales</title>
    <link href="{{url_for('static', filename='bootstrap.min.css')}}" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">


    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    /> -->
   <!--  <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    /> -->
    
  </head>
  <body>
    {% include 'partials/_navbar.html' %}
    
    <div class="d-flex justify-content-center align-items-center min-vh-100">
      <div id = "container" >
        <div class="text-center"> 
          <img src="/static/images/dronIcon.png" alt="drone" width="200" height="150">
          <h1 id = "titulo" style="margin-bottom: 30px"> Deteccion de Incendios no ha sido Iniciada </h1>
          <div  class="d-flex flex-row justify-content-center align-items-center">
          <button id="btn_run" class="btn btn-danger btn-lg mr-2 pr-2">
            Iniciar Deteccion
          </button>
          <div id= "switchBlock" class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="switchBtn" onclick="toggleSwitch()">
            <label class="form-check-label" for="switchBtn"> Inicializar altitud de referencia</label>
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="{{url_for('static', filename='jquery.min.js')}}" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='socket.io.min.js')}}" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script> 
    <script>
      const socket = io();
      
      socket.on('connect', function(){
        console.log('Conectados')
  
        socket.on('startFireDetection', function (msg){
          console.log(msg)
          $( "#searching" ).remove()
          $( "#alertBloack" ).remove()
          //$(".button_start" ).remove()
          $('#titulo').text('Deteccion de Incendios Iniciada')
          $('#btn_run').text("Finalizar Deteccion")
          document.getElementById("btn_run").removeEventListener("click", start_detection)
          document.getElementById("btn_run").addEventListener("click", stop_detection)
          
          $("#container").append(`
          <div class = "d-flex flex-column justify-content-center mt-10">
            <div id = "searching" class = "d-flex align-items-center justify-content-around">
              <strong class = "h4">Buscando...</strong>
              <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
                <span class="sr-only"></span>
              </div>
            </div>
   
          `);
        })

        socket.on('fireDetected', function (data){
          console.log(data)
          $( "#searching" ).remove()
          $( "#alertBloack" ).remove()
          $("h1").text("")

          let alertImage = "alert-red.png" 

          if ( parseFloat(data['prob']) <= 0.5 ){
            alertImage = "alert-yelow.png"
          }

          $("#container").append(`
            <div id = "alertBloack"  class="d-flex justify-content-center align-items-center"> 
              <img src="/static/images/${alertImage}" alt="alert" width="350" height="350">
              
              <div class="text-center" style = "margin-left: 55px"> 
                <p class="lead"> Fuego ha sido detectado en la siguiente ubicacion: </p>
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Probabilidad de Incendio</td>
                      <td>${data['prob']}</td>
                    </tr>
                    <tr>
                      <th>Latitud</td>
                      <td>${data['latitud']}</td>
                    </tr>
                    <tr>
                      <th>Longitud</td>
                      <td>${data['longitud']}</td>
                    </tr>
                    <tr>
                      <th>Altura</td>
                      <td>${data['distance']}</td>
                    </tr>
                    <tr>
                      <th>Area de region incendiada</td>
                      <td>${data['areaFire']} m<sup>2</sup></td>
                    </tr>
                    <tr>
                      <th>Fecha y Hora</td>
                      <td>${data['time']}</td>
                    </tr>
                    <tr>
                      <th>Temperatura maxima alcanzada</td>
                      <td>${data['maxTemperature']}</td>
                    </tr>
                  </tbody>
              </div>
            </div>  
          `)


        })
        
        socket.on('stopFireDetection', function (data){
          console.log(data)
          $( "#searching" ).remove()
          $(".button_stop" ).remove()
          $('#titulo').text('Deteccion de Incendios ha Finalizado')
        })

        socket.on('radarDistance', function (data){
          console.log("radarDistance: ", data)
        })
      })

      socket.on('disconnect', function(){
        console.log("Desconectados")
      })
    
      function start_detection(){
        const switchBtn = document.getElementById('switchBtn');
        
        if (switchBtn.checked) {
          
          $.post("/detection/initAltimeter", {}, function(response){
            
            console.log("Respuesta del servidor:", response);
            alture0 = response["alture0"]
            if (alture0 != null){
              print("Alture0:", alture0)
              $.post("/detection/start", {})
            }else{
              alert("Algo salio ejecutar nuevamente");
            }
          })
          console.log('Switch activado');
          // Aquí puedes agregar código adicional para realizar acciones cuando el switch esté activado
        }else{
          $.post("/detection/start", {})
        }
        
      }

      function stop_detection(){
        $( "#searching" ).remove()
        $(".button_stop" ).remove()
        $('#titulo').text('Deteccion de Incendios ha Finalizado')
        $('#btn_run').remove()
        $.post("/detection/stop", {})
      }

      document.getElementById("btn_run").addEventListener("click", start_detection)

      $.ajax({
        type : "POST",
        contentType : "application/json",
        url: "detection/status",
        dataType: 'json',
        data : JSON.stringify({}),
        success : (data) => {
          let running =  data["running"]
          if (running){
            $( "#searching" ).remove()
            $( "#alertBloack" ).remove()
            //$(".button_start" ).remove()
            $('#titulo').text('Deteccion de Incendios Iniciada')
            $('#btn_run').text("Finalizar Detection")
            document.getElementById("btn_run").removeEventListener("click", start_detection)
            document.getElementById("btn_run").addEventListener("click", stop_detection)
            
            $("#container").append(`
            <div class = "d-flex flex-column justify-content-center">
              <div id = "searching" class = "d-flex align-items-center justify-content-around">
                <strong class = "h4">Buscando...</strong>
                <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
    
            `);
          }
        },
        error : (data) => {
            console.log(data)
            
        }
      })
      
      function toggleSwitch() {
        const switchBtn = document.getElementById('switchBtn');
        if (switchBtn.checked) {
          console.log('Switch activado');
          // Aquí puedes agregar código adicional para realizar acciones cuando el switch esté activado
        } else {
          console.log('Switch desactivado');
          // Aquí puedes agregar código adicional para realizar acciones cuando el switch esté desactivado
        }
    }
      /* socket.on("pongStatus", function(){
            $( "#searching" ).remove()
            $( "#alertBloack" ).remove()
            //$(".button_start" ).remove()
            $('#titulo').text('Deteccion de Incendios Iniciada')
            $('#btn_run').text("Finalizar Detection")
            document.getElementById("btn_run").removeEventListener("click", start_detection)
            document.getElementById("btn_run").addEventListener("click", stop_detection)
            
            $("#container").append(`
            <div class = "d-flex flex-column justify-content-center">
              <div id = "searching" class = "d-flex align-items-center justify-content-around">
                <strong class = "h4">Buscando...</strong>
                <div class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
                  <span class="sr-only"></span>
                </div>
              </div>
    
            `);
      }) */


      /* setInterval(checkStatusDetection,5000)

      function checkStatusDetection(){
        console.log("Enviando solicitud de status...")
        socket.emit("pingStatus","status")
      } */

</script>
    
  </body>
</html>
