<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> Deteccion de Incendios Forestales</title>
   
    <!-- <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    /> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    
  </head>
  <body>
    {% include 'partials/_navbar.html' %}
    <h1 id = "titulo" class="display-2 text-center"> Deteccion de Incendios (No Iniciada) </h1>
    <p  class="text-center"></p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
    <script>
      const socket = io();
      
      socket.on('connect', function(){
        console.log('Conectados')
       
        socket.on('startFireDetection', function (msg){
          console.log(msg)
          $('#titulo').text('Deteccion de Incendios (Iniciada)')
          $("p").append(`
          <div class = "searching">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Buscando...
          </div>
          `);
        })

        socket.on('fireDetected', function (data){
          console.log(data)
          $( ".searching" ).remove()
          $('#titulo').text('Fuego Detectado! ⚠')
          $("p").text("");
          $("p").append(`
            <table class="table">
              <tbody>
                <tr>
                  <th>Temperatura maxima alcanzada</td>
                  <td>${data['maxTemperature']}</td>
                </tr>
                <tr>
                  <th>Latitud</td>
                  <td>${data['latitud']}</td>
                </tr>
                <tr>
                  <th>Longitud</td>
                  <td>${data['longitud']}</td>
                </tr>
                <tr>
                  <th>Altura</td>
                  <td>${data['distance']}</td>
                </tr>
                <tr>
                  <th>Area de region incendiada</td>
                  <td>${data['areaFire']}</td>
                </tr>
                <tr>
                  <th>Fecha y Hora</td>
                  <td>${data['time']}</td>
                </tr>
              </tbody>
          `);
        })
        
        socket.on('stopFireDetection', function (data){
          console.log(data)
          $('#titulo').text('Deteccion de Incendios (Finalizada)')
          $("p").text("");
        })
      })

      socket.on('disconnect', function(){
        console.log("Desconectados")
      })
    
    </script>
    
  </body>
</html>